body {
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  --color-bg-gray: #f2f3f4;
  --color-accent: #386eff;
  --color-accent-50: #386eff50;
  --color-accent-20: #386eff20;
}

.App {
  font-family: sans-serif;
}

.Header {
  height: 50px;
  padding: 0 60px;
  background-color: var(--color-bg-gray);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
}

.Content {
  height: calc(100vh - 50px);
  box-sizing: border-box;
  display: grid;
}

.Container {
  display: grid;
  padding: 60px;
  gap: 20px;
  justify-content: start;
  position: relative;
  grid-template-rows: repeat(auto-fill, minmax(min-content, min-content));
  grid-template-columns: min-content min-content;
}

.Item {
  background-color: var(--color-bg-gray);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.Item1 {
  width: 40px;
}

.Item.Selected {
  background-color: var(--color-accent);
  color: #fff;
}

.Area {
  position: absolute;
  background-color: var(--color-accent-20);
  border: 1px solid var(--color-accent-50);
  z-index: 50;
  border-radius: 3px;
  pointer-events: none;
}
